<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/main.css" />
<html data-theme="cupcake"></html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lego Collection</title>
</head>
<body>
  <div class="navbar bg-base-100">
    <div class="flex-1">
      <a class="btn btn-ghost normal-case text-xl" href="/">Lego Collection</a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <details>
            <summary>
              Themes
            </summary>
            <ul class="p-2 bg-base-100">
              <li><a href="lego/sets?theme=technic">Technic</a></li>
              <li><a href="lego/sets?theme=Classic%20Town">Classic Town</a></li>
              <li><a href="lego/sets?theme=Lion%20Knights">Lion Knights</a></li>
            </ul>
          </details>
        </li>
      </ul>
    </div>
  </div>

  <div class="container mx-auto">

    <div class="hero bg-base-200">
      <div class="hero-content flex-col lg:flex-row-reverse">
        <img src="https://c1.staticflickr.com/5/4182/34207155596_80ce44c15c_z.jpg" class="max-w-sm rounded-lg shadow-2xl" />
        <div>
          <h1 class="text-5xl font-bold">Oops!</h1>
          <p class="py-6">We can't seem to find the page that you're looking for.</p>
        </div>
      </div>
    </div>
  </div>


</body>
</html>